.kakomu {
    padding: 1px 4px; /* 枠と文字の空間 */
    margin: 0 5px 0 0; /* 枠の外の空間 */
    background-color: #f9f9f9; /* 枠の背景色 */
    border: 1px solid #777; /* 枠の線の太さ・種類・色 */
    border-radius: 2px; /* 枠の角を丸くする */
    box-shadow: 1px 2px 2px #ddd; /*影をいれる*/
    font-family: inherit; /* フォントの種類を継承する */
    font-size: 0.85em; /* フォントの大きさ */
}

.indent {
    padding-left: 1.5em; /* インデント */
}